/* ПЕРВАЯ ГЛАВНАЯ СТРАНИЦА */
/* 1280 * 800 px планшет */
@media only screen and (max-width:800px){

}
/* 1280 * 800 px телефон */
@media only screen and (max-width:800px){
	.banner_articles{
		display: block;
		margin-top: 50px;
	}
	.menu>li{
		padding-left: 20px;
		margin-left: 20px;
		position: relative;
	}
}
@media only screen and (max-width:900px){
	.image-slider__image>img{
		height: 280px;
	}
}
@media only screen and (max-width:746px){
	.image-slider__image>img{
		height: 220px;
	}
}
@media only screen and (max-width:1016px){
	.work_message_hello{
		font-size: 35px;
	}
	.reviews_title{
		font-size: 35px;
	}
	.work_gallery>img{
		height: 150px;
		width: 350px;
	}
}
@media only screen and (max-width:726px){
	.reviews_title{
		font-size: 30px;
	}
	.work_message_hello{
		font-size: 20px;
	}
}
@media only screen and (max-width:819px){
	.work_message_hello{
		font-size: 35px;
	}
	.work_gallery>img{
		height: 150px;
		width: 300px;
	}
}
@media only screen and (max-width:1168px){
	.title_apps{
		font-size: 40px;
	}
	.title_apps_pk{
		font-size: 40px;
	}
}
@media only screen and (max-width:949px){
	.title_apps{
		font-size: 30px;
	}
	.title_apps_pk{
		font-size: 30px;
	}
}
@media only screen and (max-width:715px){
	.title_apps{
		font-size: 25px;
	}
	.title_apps_pk{
		font-size: 25px;
	}
}
@media only screen and (max-width:1012px){
	.text_info_cool{
		font-size: 15px;
	}
	.text_info_cammon{
		font-size: 15px;
	}
}
@media only screen and (max-width:800px){
	.text_info_cool{
		font-size: 12px;
	}
	.text_info_cammon{
		font-size: 12px;
	}
}
@media only screen and (max-width:1140px){
	.title_game{
		font-size: 35px;
	}
}
@media only screen and (max-width:810px){
	.title_game{
		font-size: 28px;
	}
}
@media only screen and (max-width:500px){
	.menu{
		font-size: 25px;
		box-sizing: 25px;
	}
	.title{
		font-size: 30px;
	}
	.discription{
		font-size: 17px;
	}
	.banner_butt{
		height: 2px;
	}
	.work_message_hello{
		font-size: 20px;
	}
	.reviews_title{
		font-size: 20px;
	}
	.logo_ava{
		height: 70px;
	}
}
@media only screen and (max-width:432px){
	.menu{
		font-size: 6px;
		box-sizing: 5px;
	}
	.title{
		font-size: 20px;
	}
	.discription{
		font-size: 10px;
		line-height: 20px;
	}
	.banner_butt{
		height: 1px;
	}
	.work_message_hello{
		font-size: 15px;
	}
	.reviews_title{
		font-size: 15px;
	}
	.banner_butt>a{
		font-size: 10px;
		padding: 15px;
	}
	.title_apps{
		font-size: 15px;
		border-bottom: 3px solid black;
		padding: 25px 0 10px 0;
	}
	.title_apps_pk{
		font-size: 15px;
		border-bottom: 3px solid black;
		padding: 25px 0 10px 0;
	}
	.title_game{
		font-size: 15px;
		border-bottom: 3px solid black;
		padding: 25px 0 10px 0;
	}
	.banner{
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.news_title{
		font-size: 15px;
		border-bottom: 3px solid black;
		padding: 25px 0 10px 0;
	}
	.popup_name{
		font-size: 30px;
	}
	.popup_screenshot{
		border-radius: 10px;
		margin: 10px;
		height: 100px;
	}
}
